
.input-file {
	border: #333 solid 1px;
	padding: 10px;
}

.box-pesquisa {
	display: none;
	margin: 20px 0;
}
.box-pesquisa.ativo { display: block; }
.box-pesquisa input {
	margin: 0px 5px;
	padding: 5px 10px;
}
.mostrar { display: none; }
.mostrar.ativo { display: block; }